In [1]:
import pandas as pd

df = pd.read_csv("crime-statistics-in-uganda-by-district-in-2020.csv")

In [2]:
import numpy as np

In [3]:
df.head(10)

,REGIONS/DISTRICTS,TOTAL CASES,HOMICIDES,ECONOMIC,SEX REL,CHILD REL,BREAKINGS,THEFTS,ROBBERIES,ASSAULTS,OTHER CRIMES,TERRORISM,POL/MEDIA,CORRUPTION,NARCOTICS,OTHER LAWS
0,C.I.D Headquarters,"1,398",3,723,12,3,1,92,5,14,377,NaN,44,18,36,69
1,C.I.D,"1,398",3,723,12,3,1,92,5,14,377,-,44,18,36,69
2,Jinja Road,"1,379",12,197,110,10,75,468,76,122,272,NaN,5,NaN,30,3
3,Kira Division,"1,341",16,125,117,20,120,401,99,73,348,NaN,10,1,10,2
4,Kira Road,"2,284",16,160,93,122,123,677,147,274,606,1,11,NaN,51,4
5,Mukono,"2,383",22,182,222,28,185,798,68,234,583,NaN,18,NaN,27,17
6,Nagalama,991,20,48,124,8,66,257,39,151,259,NaN,6,NaN,9,4
7,KMP EAST,"8,379",85,711,666,187,569,"2,601",430,853,"2,068",1,50,1,126,30
8,CPS Kampala,"1,630",7,472,12,2,41,642,40,81,219,NaN,16,1,22,75
9,Katwe,"2,805",36,161,273,326,89,645,87,305,841,NaN,6,NaN,34,1

In [4]:
df.shape

(188, 16)

In [5]:
df.isnull()
#checks for missing data

,REGIONS/DISTRICTS,TOTAL CASES,HOMICIDES,ECONOMIC,SEX REL,CHILD REL,BREAKINGS,THEFTS,ROBBERIES,ASSAULTS,OTHER CRIMES,TERRORISM,POL/MEDIA,CORRUPTION,NARCOTICS,OTHER LAWS
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False
184,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False
185,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False
186,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
187,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
df.isnull().sum()
#counts the number of missing values

REGIONS/DISTRICTS      0
TOTAL CASES            0
HOMICIDES              0
ECONOMIC               0
SEX REL                0
CHILD REL              0
BREAKINGS              0
THEFTS                 0
ROBBERIES              0
ASSAULTS               0
OTHER CRIMES           0
TERRORISM            156
POL/MEDIA              0
CORRUPTION           145
NARCOTICS              0
OTHER LAWS             0
dtype: int64

In [7]:
df.isnull().sum().sum()
#gets the total number of missing values in the dataset

301